html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rooms
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
        link(rel="stylesheet", href="/styles/index.css")       
        script(src="/socket.io/socket.io.js")
        script(src="/scripts/jquery.js")
        script(src="/scripts/main.js")

    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') Team
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/') Home 
                    li.nav-item
                        a.nav-link(href='/users') Users
            if user
                //p= user.name
                a.mr-5(href='/users/'+user.id)=user.name
            a(href='/auth/logout') Logout
        #wrapper
            #chatForm
                #newRoom
                        form#form-newRoom(action='/rooms/create',method="POST")
                            .form-group
                                label(for="name") Room Name
                                input#roomName(type="text", name="name",class="form-control", value=values?values.name:"")
                            .form-group
                                label(for="code") Code
                                input#code(type="text", name="code",class="form-control", value=values?values.code:"")
                            .btn-control
                                button#btnNewRoom(class="btn btn-primary") New Room
                                div#btnCloseNewRoom(class="btn btn-primary") Cancel
                #left
                    button#btnNew(class="btn btn-primary") Create Room
                  
                    form(action='/rooms/join',method="POST")
                        .form-group
                            input#codeRoom(type="text", name="code",placeholder="Enter code",class="form-control", value=values?values.code:"")
                            button#btnJoinRoom(class="btn btn-primary") Join        
                    h2 Room online:
                        #dsRoom
                            if listRoom
                                each room in listRoom
                                    a(href="/rooms/"+room.idroom, id=room.idroom)=room.name
                                    br
                #right
                    span#roomHienTai  Room hien tai
                    span.ml-5(id='currentRoom')=room.name
                    input#codehidden(type="text",name="code",hidden, value="")
                    //#sayHi
                    //| Hello 
                    //span#currentUser Teo
                    //input#btnLogout(type='button', value='Logout')
                    #listMessages
                        if messages                            
                            each mess in messages
                                div(class="ms")= mess.nameUser + ': ' + mess.text + '  '
                                div(class="time" style="font-size: 12px")= mess.time.substring(12,17)
                                //br
                            //each mess in messages
                                span= mess.message
                                br

                    #thongbao
                        //form.form-message(action='/rooms/send',method="POST")                       
                    .form-message    
                        .form-group                            
                            input#currentIdRoom(type="text", name="roomid",class="form-control", value=room.id, hidden)
                            input#nameUser(type="text", name="nameUser",class="form-control", value=user.name, hidden)
                            input#txtMessage(type="text", name="message",class="form-control")
                        button#btnSendMessage(class="btn btn-primary") Send
                    //input#txtMessage(type='text', name='message')
                    //input#btnSendMessage(type='button', name='', value='Send')















